<%
  const recs = widget.displays[0].recommendations;
  let product;
  let imageUrl;
  let productUrl;
  /**
    * Iterating trough the recommendations and adding html for each product.
    */
  Object.keys(recs).forEach((index) => {
    product = recs[index];
    imageUrl = formatUrl(product.images.default);
    productUrl = formatUrl(product.url);
%>
  <a id="<%= product.id %>" href="<%= productUrl %>" target="_blank">
    <div class="img-wrapper">
      <img src="<%= imageUrl %>" class="rounded">
    </div>
    <div class="content px-3 mt-3">
      <span><%= product.name %></span>
    </div>
    <div class="price px-3">
      <span class="font-weight-bold">R$ <%= product.price %></span>
    </div>
  </a>
<%
  });
%>
