<h4>
  <span class="font-weight-bold">Tipo de vitrine: </span> <%= widget.feature %>
</h4>
<div class="carousel" id="<%= widget.id %>">
  <%
    const recs = widget.displays[0].recommendations;
    let product;

    /**
     * Iterating trough the recommendations and adding html for each product.
     */
    Object.keys(recs).forEach((index) => {
    product = recs[index];
  %>
      <div id="<%= product.id %>" class="product-slide my-3 py-2 rounded">
        <a href="<%= product.url %>"><img src="https://<%= product.images.default %>" class="img-fluid mx-auto d-block rounded"></a>
        <div class="content mt-3 mx-2">
          <a href="<%= product.url %>"><span><%= product.name %></span></a>
        </div>
        <div class="price my-1 mx-2">
          <a href="<%= product.url %>"><span class="font-weight-bold">R$ <%= product.price %></span></a>
        </div>
      </div>
  <%
    });
  %>
  
</div>
